<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="pages" value="30"/>
    <!--dataSource -> Źródło: 0 - Polskie Radio, 1 - Niebezpiecznik.pl -->
    <!--audition -> Audycja: 0 - Inne (GetTabContent), 1 - KLCW (każda strona nowe żądanie) -->

    <!--Powieść w trójce-->
    <!--<add key="dataSource" value="0"/>
    <add key="path" value="e:\!radio\pwt"/>
    <add key="sectionId" value="9"/>
    <add key="categoryId" value="206"/>
    <add key="tabId" value="125111"/>
    <add key="boxInstanceId" value="33348"/>-->

    <!--Klub Ludzi Ciekawych Wszystkiego-->
    <add key="dataSource" value="0"/>
    <add key="audition" value="1"/>
    <add key="path" value="E:\!klcw\Polskie Radio"/>
    <add key="sectionId" value="8"/>
    <add key="categoryId" value="405"/>
    <add key="tabId" value="126300"/>
    <add key="boxInstanceId" value="16115"/>

    <!--ABC Popkultury-->
    <!--<add key="dataSource" value="0"/>
    <add key="path" value="E:\!radio\abc"/>
    <add key="sectionId" value="9"/>
    <add key="categoryId" value="3851"/>
    <add key="tabId" value="124778"/>
    <add key="boxInstanceId" value="32988"/>-->

    <!--Niebezpiecznik.pl-->
    <!--<add key="dataSource" value="1"/>-->
    <!--<add key="path" value="E:\!radio\niebezpiecznik"/>-->

  </appSettings>
</configuration>